.menuContainer {
    position: relative;
    display: inline-block;
}

.menuButton {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 8px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition:
        border 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    font-family: Caveat;
}

.menuButton:hover {
    border: 1px solid #4169e1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menuList {
    position: absolute;
    top: calc(100% + 4px);
    left: 6;
    background-color: #4169e1;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 6px 0;
    margin: 0;
    list-style: none;
    min-width: 96px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuItem {
    margin: 0;
    transition: color 0.3s ease-in-out;
}

.menuLink {
    display: block;
    padding: 8px 16px;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 15px;
}

.menuLink:hover {
    background-color: #f0f0f0;
    color: #333;
}
.menuItem:hover {
    color: #333;
}
